nav{
  background: pink;
}
a{
  color: white;
  text-decoration: none;
}

ul{
  display: flex;
}

@media screen and (max-width:420px){
  nav{
    background: blue;
  }
}

li{
  list-style-type: none;
}

/* other media queries */
@media (min-height:400px){
  header{
    background: yellow;
  }
}

@media (max-height: 400px){
  header{
    background: orange;
  }
}

@media (orientation: portrait){
  header{
    background: violet;
  }
}

@media (orientation:landscape){
  header{
    background: black;
  }
}

img{
  height: 300px;
  object-fit: contain;
}

@media (max-width:800px){
  img{
    max-width: 600px;
    width: 100%;
  }
}