/* OOCSS example of a button */
/* Parent class */
body {
  font-family: arial;
  font-size: 50px;
  color: blue; }

h1,
h2,
h3 {
  font-family: verdana;
  color: red; }

.button {
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
  background-color: grey;
  border: 1px solid grey;
  cursor: pointer; }

.button-primary {
  border-color: green;
  background-color: green;
  color: white; }

.button-secondary {
  border-color: blueviolet;
  background-color: blueviolet;
  color: white; }

.input {
  border: 1px solid lightgray;
  padding: 10px;
  font-size: 12px;
  border-radius: 5px; }
  .input:focus {
    outline: none;
    box-shadow: 0 0 10px grey; }

.input-primary {
  border-color: green; }

.input-secondary {
  border-color: blue; }
