.navbar-custom{
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgba(0,0,0,.7)
}

.page-header{
    position: relative;
    overflow: hidden;
    font-size: 1.25rem;
    color: #fff;
    padding-top: calc(7rem + 72px);
    padding-bottom: 7rem;
    background: #ff6a00;
    background: linear-gradient(0deg,#ff6a00 0,#ee0979 100%);
}

.header-content{
    z-index: 1;
    position: relative;
    overflow: hidden;
}

.gradient{
    background: #ff6a00;
    background: linear-gradient(0deg,#ff6a00 0,#ee0979 100%);
}

.ball {
    z-index: 0;
	border-radius: 100%;
	background-color: rgb(255, 166, 0);
	background-image: linear-gradient(140deg,#ff6a00 0,#ee0979 100%);
	background-repeat: no-repeat, no-repeat;
	position:absolute;
}

.circle-1{
    height: 90rem;
    width: 90rem;
    bottom: -55rem;
    left: -55rem;
}

.circle-2{
    overflow: hidden;

    height: 50rem;
    width: 50rem;
    top: -25rem;
    right: -25rem;
}

.circle-3{
    height: 20rem;
    width: 20rem;
    bottom: -10rem;
    right: 5%;
}

.circle-4{
    height: 30rem;
    width: 30rem;
    top: -5rem;
    right: 35%;
}

.circle-image{
    border-radius: 100%;
}

.footer-section{
    background: black;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: white;
}