html,
body{
    height: 100%;
    font-size: 1rem;
    font-family: 'Source Sans Pro', sans-serif;
}

.page-header{
   position: relative;
   margin-top: 4rem;
   font-size: 1.25rem;
   color: #fff;
   background: rgb(2,0,36);
   background: linear-gradient(
       333deg,
       rgba(2,0,36,1) 0%,
       rgba(113,10,139,1) 38%,
       rgba(0,212,255,1) 100%);
}

.feature{
    color: #fff;
}

.feature ul{
    padding-left: 2rem;
    list-style-type: none;
}

.feature ul li{
    padding-left: 2rem;
    background-image: url(img/check.svg);
    background-repeat: no-repeat;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

.icon{
    color: #fff;
    height: 3rem;
    width: 3rem;
    font-size: 1.75rem;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.gallery{
    background-color: whitesmoke;

}

.gallery img{
    border-radius: 5%;
}