body{
    background: #f6f6f6;
    height: 100vh;
}

nav{
    background-color: white;
}

.search-form{
    width: 50%;
}

@media (min-width: 576px) {
    .search-form {
        width: 100%;
    }
}

@media (min-width: 992px){
    .search-form{
        width: 50%;
    }
}